.Sobre {
  width: 100%;

  background-color: var(--Fundo);
}






.WorksBanner{
  flex: 1;
  padding: 20px 0;


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.WorksBanner p{
  font-size: 1rem;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;

  color: white;
}

.WorksBanner ul{
  list-style-type: none;
  display: flex;
  margin: 20px 0 10px;
}

.WorksBanner ul li{
  margin: 0 30px;
  font-family: 'Space Grotesk', sans-serif;

  font-size: 2.5rem;
  font-weight: 700;
  color: white;
  opacity: 0.3;
  text-align: center;


  display: flex;
  align-items: center;

  cursor: pointer;

  transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out ;
  -webkit-transition:  .3s ease-in-out;
}

.WorksBanner ul li:hover{
  opacity: 1;
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.664);
}
















.Invertido {
  flex-direction: row-reverse;
}

.ContentSobre {
  width: 100%;
  padding: 100px 0;


  display: flex;

  animation: Opac 1s ease-in-out forwards;
}

.ReturnHome {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.ReturnHome button {
  background-color: var(--Verde);
  box-shadow: 0px 4px 88px var(--Verde);

  font-size: 2rem;
  font-weight: 700;
  font-family: "Space Grotesk";
  color: var(--Fundo);

  border-radius: 55px;
  border: 0;
  padding: 8px 39px 8px 39px;

  cursor: pointer;

  transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
}
.ReturnHome button:hover {
  box-shadow: 0px 0px 0;
}

.IconContainer {
  width: 100%;
  display: flex;
  justify-content: center;

  gap: 20px;
}

.ImageSobre {
  flex: 1;
  height: 500px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.CircleImageSobre {
  position: relative;
  width: clamp(400px, calc(70% - 2vw), 410px);
  
  height: calc(450px - 2vw);

  border-radius: 100%;

  border: 2px solid var(--Verde);
  display: flex;
  justify-content: center;
  align-items: center;
}

.ImageDeitada {
  width: 340px;
  height: 450px;

  background-color: #6c6c6c;
  border-radius: 12px;

  transform: skew(10deg);

  box-shadow: -16px 15px 5px 0px #00000040;

  background-size: cover;
  background-position: center;
}

.ImgInvert {
  transform: skew(-10deg);
}

.ContIcon {
  position: absolute;
  width: 120px;
  height: 120px;

  background-color: var(--Verde);
  box-shadow: -6px 7px 4px 0px #000000c8;
  border-radius: 12px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 5rem;

  color: rgba(0, 0, 0, 0.881);
}

.ContIconsPos1 {
  top: -70px;
  left: -90px;

}

.ContIconsPos2 {
  top: 0;
  right: -80px;
}

.ContIconsPos3,
.ContIconsPosInvert3 {
  bottom: -70px;
}

.ContIconsPosInvert1 {
  top: -70px;
  right: -90px;
}

.ContIconsPosInvert2 {
  top: 0;
  left: -80px;
}

.TextContentSobre {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.TitleSobre {
  font-family: "Space Grotesk";
  font-weight: 700;
  font-size: 1.9rem;
  color: white;
  text-align: center;

  margin: 0 20px;
}

.TextSobre {
  font-family: "Inter";
  font-weight: 400;
  font-size: 1.1rem;
  max-width: 550px;
  text-align: center;

  opacity: 0.5;

  color: white;
  margin: 20px 20px;
}

.Icon {
  width: 90px;
  height: 90px;

  background-color: var(--Preto);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 3rem;
  color: #6c6c6c;
}

.ColumnVideo,
.ColumnServices {
  flex-direction: column;
  align-items: center;

  position: relative;
  margin: 50px 0;

}

.TitleGeral {
  font-family: "Space Grotesk";
  font-weight: 700;
  font-size: 2.4rem;
  text-align: center;
  padding-left: 10px;

  color: white;
}

.ContentVideo {
  flex: 1;
  display: flex;


}

.LocalVideo {
  flex: 2.5;

  padding: 20px;
}

.AtualVideo {
  width: 90%;
  height: 400px;
  border-radius: 12px;
  border: 2px solid white;

  background-color: rgba(128, 128, 128, 0.566);


  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.ScrollVideo {
  flex: 1;

  max-height: 600px;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  gap: 20px;
  

  overflow-y: scroll;
}

.ScrollVideo::-webkit-scrollbar {
  height: 10px;
}

.ScrollVideo::-webkit-scrollbar-track {
  background: transparent;
}


.ScrollVideo::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 20px;
  border: 3px solid var(--Preto);
}

.MiniVideo {
  width: 95%;
  min-height: 170px;

  background-color: rgba(128, 128, 128, 0.566);
  border-radius: 12px;

  border: 2px solid white;

  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;

  cursor: pointer;

  transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;

}

.MiniVideo:hover{
  background-size: 150%;
}

.MobileTitle{
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  margin: 20px 0 10px;
}


.LocalVideo p, .MobileTitle p {
  width: 90%;
  font-family: "Space Grotesk";
  font-size: 1.7rem;
  font-weight: 700;
  color: white;
}

.LocalVideo button, .MobileTitle button {
  background-color: var(--Verde);
  padding: 8px;
  border-radius: 4px;
  font-family: "Space Grotesk";
  font-size: 1.3rem;
  font-weight: 700;
  color: white;
  margin: 20px 0;
  border: 0;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
}


.LocalVideo button span, .MobileTitle button span{
  display: flex;
  align-items: center;
  margin: 0 8px 0 0;
}



.LocalVideo button:hover {
  box-shadow: 0 0 14px var(--Verde);
}



.ColumnVideo{
  padding: 0 10%;
}



.ContainerVideo {
  display: flex;
  flex-direction: column;

  position: relative;
  margin: 20px 0;

  width: 100%;
  height: auto;

  background-color: #00000099;
  box-shadow: 0 13px 24px #00000080;
  border-radius: 16px;
}

.LinuxDetail {
  width: 100%;
  min-height: 60px;

  border-bottom: 1px solid white;

  list-style-type: none;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.LinuxDetail li {
  margin: 0 5px;

  width: 22px;
  height: 22px;

  border-radius: 100%;
}

.LinuxDetail li:nth-child(1) {
  background-color: #ff5f5a;
}

.LinuxDetail li:nth-child(2) {
  background-color: #ffbe2e;
}

.LinuxDetail li:nth-child(3) {
  background-color: #2aca44;
}

.Detail2 {
  top: 0;
  right: 0;
}

.Detail3 {
  top: 100%;
  left: 0;
}

.Services {
  width: 100%;
  padding: 40px 0 0 10px;

  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;
  gap: 50px;
}

.ItemService {
  width: 30%;
  min-height: 400px;
  max-height: 600px;

  padding: 20px 0;

  border-radius: 12px;

  border: 2px solid var(--Verde);

  display: flex;
  flex-direction: column;
}

.IconService {
  flex: 1;
  max-height: 45%;
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--Verde);
  font-size: 6rem;
}

.ContentService {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.ServiveTitle {
  font-family: "Space Grotesk";
  font-weight: 700;
  font-size: 1.1rem;
  color: white;
  text-align: center;

  padding: 0 40px;
}

.ServiceText {
  font-family: "Inter";
  font-weight: 300;
  font-size: 1rem;
  text-align: justify;

  opacity: 0.5;

  color: white;
  margin: 20px 0;
  padding: 0 40px;
}

.Carroussel {
  position: relative;
  width: 100%;
  min-height: 400px;

  display: flex;
  flex-direction: column;
  align-items: center;
}


.ContainerFeedbacks{
  display: none;
  flex-direction: column;
  width: 100%;
  max-height: 700px;
  overflow-y: scroll;

  padding: 0 20px 40px 30px;
  gap: 20px;

}




.ContainerFeedbacks::-webkit-scrollbar {
  width: 10px;

}

.ContainerFeedbacks::-webkit-scrollbar-track {
  background: transparent;
}


.ContainerFeedbacks::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 20px;
  border: 3px solid #1e1e1e;
}





@media screen and (max-width:1024px){
  .ContentSobre{
    flex-direction: column;
    gap: 90px 0;
  }

  .ImageDeitada {
    width: 300px;
    height: 400px;
  }

  .ColumnVideo{
    padding: 0;
  }

  .ContainerVideo{
    width: 85%;
  }

  .ContentVideo{
    flex-direction: column;
  }

  .LocalVideo{
    padding: 20px 0;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
  }

  .LocalVideo p, .LocalVideo button{
    display: none;
  }


  .ScrollVideo{
    flex-direction: row;
    padding: 20px;

    overflow-y: hidden;
    overflow-x: scroll;
  }

  .MiniVideo{
    min-width: 175px;
    min-height: 106px;
  }

  .MobileTitle{
    display: flex;
  }




  .Services{
    display: none;
  }

  .ContainerCarrossel{
    display: none !important;
  }


  .ContainerFeedbacks{
    display: flex;
  }

}






@media screen and (max-width:600px){
  .WorksBanner ul li{
    font-size: 1.9rem;
    margin: 0 25px;
  }


  .ContIcon {
    position: absolute;
    width: 90px;
    height: 90px;
  
    font-size: 4rem;
  
  }

  .ContIconsPos1 {
    top: -50px;
    left: -30px;
  
  }
  
  .ContIconsPos2 {
    top: 0;
    right: -40px;
  }

  
  .ContIconsPosInvert1 {
    top: -50px;
    right: -30px;
  }
  
  .ContIconsPosInvert2 {
    top: 0;
    left: -40px;
  }

  .ImageDeitada {
    width: 50vw;
    height: 65vw;
  }

  .CircleImageSobre{
    min-width: none;

    width: 70vw;
    height: 70vw;
  }

  .Services{
    display: flex;
  }

  .ItemService{
    width: 90%;
    flex-direction: row;

    min-height: 200px;
  }

  .ServiveTitle{
    padding: 0 10px;
  }

  .ContentService{
    justify-content: center;
    align-items: center;
  }

  .IconService{
    max-height: 100%;
    max-width: 30%;
    font-size: 4.5rem;
  }

  .ServiceText{
    display: none;
  }

  .ContainerFeedbacks{
    padding: 0 10px 40px 20px;

  }
}


@media screen and (max-width:490px){
  .WorksBanner ul li{
    font-size: 1.7em;
  }
  
}